bump2version==0.5.11
wheel==0.35.1
watchdog==0.9.0
flake8==3.7.8
tox==3.14.0
coverage==4.5.4
Sphinx==3.2.1
twine==1.14.0
Click==7.0
pytest==4.6.5
pytest-runner==5.1
numpy>=1.19.2
scipy>=1.5.2
matplotlib>=3.3.2
sphinx-rtd-theme>=0.5.0
sphinx-autodoc-typehints==1.11.0
myst-parser>=0.12.10
nbsphinx>=0.7.1
ipython>=7.18.1
opics>=0.1.6
